.tmp-dialog {
    margin: auto;
    width: 250px;
    height: 200px;
    border-radius: 8px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(47, 74, 117, 0.9)), color-stop(0.5, rgba(47, 76, 117, 0.9)), color-stop(0.5, rgba(47, 76, 117, 0.9)), color-stop(1, rgba(134, 140, 158, 0.9)));
    -webkit-box-shadow: 0 0 8px 4px #555;
    box-shadow: 0 0 8px 4px #555;
    border: 2px solid #fff;
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    z-index: 100001;

}

.tmp-dialog-header {
    height: 20%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

    text-align: center;
    padding: 5px;
    color: #fff;
    font-size: 0.9em;
    font-weight: bold;
    text-shadow: none;
}

.tmp-dialog-content {
    height: 40%;
    text-align: center;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 0.9em;
    text-shadow: none;
}

.tmp-dialog-footer {
    height: 20%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    text-align: center;
}

.tmp-dialog-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height:100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000 !important;
}

.tmp-dialog-smallerbtn {
    margin: 0 auto;
    width: 50%;
}

.tmp-dialog-smallerbtn-confirm {
    margin: 0 auto;
    width: 90%;
}

/* Action sheet dialog */
.tmp-actionsheet {
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    z-index: 100001;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    z-index: 1000 !important;
}

.tmp-actionsheet-destructive-button {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.05, rgb(245, 46, 19)), color-stop(1, rgb(235, 104, 87)));
}

.tmp-actionsheet-destructive-button:active {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.05, rgb(235, 104, 87)), color-stop(1.0, rgb(245, 46, 19)));
}



/* DASHBOARD */
.tmp-dashboard-line {
    margin-top: 20px;
}

.tmp-dashboard-line:first-child {
    margin-top: 0px;
}

.tmp-dashboard-item {
    float: left;
}

.tmp-dashboard-item img {
    max-width: 100%;
    -webkit-touch-callout: none;
}

.tmp-dashboard-item, .tmp-dashboard-item-label {
    text-align: center;
}

.tmp-dashboard-item-label {
    font-size: 0.8em;
    white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tmp-dashboard-line-clear {
    clear: left;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(5deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
    }
    75% {
        -webkit-transform: rotate(-5deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

.rotate1 {
    -webkit-animation:
        rotate 0.3s linear infinite
}

.rotate2 {
    -webkit-animation:
        rotate 0.4s linear infinite
}


/* SPLITVIEW */
.tmp-splitview-menu {
    position:absolute;
}

.tmp-splitview-content {
    position:absolute;
}

.landscape .tmp-splitview-menu {
    top:41px;
    bottom:0px;
    border-right:1px solid #ccc;
    
    
}

.landscape .tmp-splitview-content-toolbar {
    top:0px;
    left: auto;

}

.landscape .tmp-splitview-content-toolbar-show-menu-button .ui-btn-left ,
.landscape .tmp-splitview-content-toolbar-show-menu-button .ui-btn-right {
    display:none;
}

.landscape .tmp-splitview-menu-toolbar {
    left:0px;
    float:left;
    border-right:1px solid #000;
    
}

.landscape .tmp-splitview-menu-toolbar h1 {
    margin-left: 15px;
    margin-right: 15px;
}

.landscape .tmp-splitview-content {
    top:41px;
    bottom:0px;
}

.portrait .tmp-splitview-menu {
    display:none
}

.portrait .tmp-splitview-content {
    top:41px;
    bottom:0px;
    left:0px;
}

.portrait .tmp-splitview-content-toolbar-show-menu-button .ui-btn-left,
.portrait .tmp-splitview-content-toolbar-show-menu-button .ui-btn-right {
    display:block;
}

.portrait .tmp-splitview-content-toolbar {
    top:0px;
}

.portrait .tmp-splitview-menu-toolbar {
    display:none
}

.tmp-footer {
    position:absolute !important;
    bottom:-41px;
}

.tmp-splitview-no-header .tmp-splitview-content, .tmp-splitview-no-header .tmp-splitview-menu {
    top: 0px;
}

.labeltest{

    border: 1px solid #000;

}


/* POPOVER */
.tmp-popover {
    position: absolute !important;
    left: 15px !important;
    top: 56px !important;
    min-height: 50px !important;
    -webkit-border-radius: 5px 5px 5px 5px !important;
    -moz-border-radius: 5px 5px 5px 5px !important;
    border-radius: 5px 5px 5px 5px !important;
    z-index: 100001 !important;
}

.tmp-popover-header {
    -webkit-border-radius: 5px 5px 0px 0px !important;
    -moz-border-radius: 5px 5px 0px 0px !important;
    border-radius: 5px 5px 0px 0px !important;
    border-top: 0px !important;
    position: absolute;
}

.tmp-popover-content {
    border: 5px solid #111 !important;
    border-top: 0px !important;
    -webkit-border-radius: 0px 0px 5px 5px !important;
    -moz-border-radius: 0px 0px 5px 5px !important;
    border-radius: 0px 0px 5px 5px !important;
}

.tmp-popover-arrow {
    border-color: transparent transparent #3C3C3C transparent;
    border-style: solid;
    border-width: 20px;
    height: 0;
    width: 0;
    position: absolute;
    top: -40px;
    left: 10px;
}




/* DATEPICKER */
.dw > .ui-grid-a, .dw > [data-role="button"]:last-child {
    margin-bottom: 15px;
}

.dwo {
    position: fixed;
    background: none;
}

.dww li {
    font-size: 22px;
}




/* CONTENT AREA */
.ui-content {
    -webkit-overflow-scrolling: touch;
    overflow-x: visible;
}




/* carousel */
.tmp-carousel-wrapper {
	width: 100%;
	float: left;
	position: relative;
	z-index: 1;
	overflow: hidden;
    opacity: 0;
}

.tmp-carousel-scroller {
	height: 100%;
	float: left;
}

.tmp-carousel-list {
	list-style: none;
	display: block;
	float: left;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	text-align: left;
}

.tmp-carousel-list li {
    float: left;
}

.tmp-carousel-paginator {
    position: absolute;
    z-index: 1000;
    text-align: center;
}

.tmp-carousel-paginator-vertical {
    width: 20px;
    right: 0px;
}

.tmp-carousel-paginator-horizontal {
    width: 100%;
    height: 20px;
    left: 0px;
}

.tmp-carousel-paginator-item {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #333333;
    opacity: 0.8;
    margin-left: 5px;
    margin-right: 5px;
    -webkit-border-radius: 3px 3px 3px 3px !important;
    -moz-border-radius: 3px 3px 3px 3px !important;
    border-radius: 3px 3px 3px 3px !important;
}

.tmp-carousel-paginator-item-active {
    background: #FFFFFF;
}

.tmp-carousel-clear {
    height: 0px;
    width: 0px;
    clear: both;
}


/* IMAGE PRELOADING */
.tmp-image-preloading {
    width: 1px;
    height: 1px;
    opacity: 0;
    visibility: hidden;
}

/* Version 1.2 to Version 1.3 hacks*/
    /* iOS portrait to landscape hack*/
    .ui-mobile body .ui-page-active {
        position:relative;
        overflow-x:hidden;
    }

    /*Buttons in the Header are shown in the content area*/
    .ui-header .ui-btn{
        margin-top: 0;
    }

    /* Default button group hasn't the browser width*/
    .ui-page .ui-controlgroup-horizontal .ui-controlgroup-controls{
        display: block;
    }