.date {
    font-size: 14px;
    font-weight: normal;
}

.username {
    margin-top:10px;
}

.textfieldInit {
    color: #CDCDCD;
}

.listThumb {
    width:50px;
    height:50px;
    margin-top:15px;
    margin-left:15px;
}

.text {
    font-size: 12px;
    font-weight: normal;
    white-space: normal;
}