.actionsheetview{
  top:  100%;
  bottom: 0;
  position: fixed;
  @include transition($actionsheet-transition-property, $actionsheet-transition-time, $actionsheet-transition-method);

  &.is-visible{
    top: 0%;
  }

  .m-view.m-overlayview.m-actionsheetview {
    margin: auto auto 0 auto;
    width: 100%;

    .m-actionsheetview-inner {
      position: relative;
      z-index: 1040;
      border-radius: 4px;
    }

    .m-view.m-labelview.m-actionsheetview-title {
      word-wrap: break-word;
      padding: 15px;
      text-align: center;
      color: $white;
    }
  }

}