


.button {
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: $button-border-radius;
  border: $button-border-width solid $button-border-color;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.buttonview.active.useelement,
.buttonview.active .button,
.button.active {
  background-color: $m-primary-active-color;
  color: $white;
}

*[class*='col-'] .button {
  width: 100%;
}