.m-error {

  position: relative;

  & .m-error-message {

    font-size: $m-primary-font-size-small;
    text-align: right;
    padding: 3px 0 10px 0;

    & i {
      color: $error;
      padding: 0 5px;
    }

  }

  &.textfieldview input {
    border-color: $error;
  }

  &.textfieldview{
    padding-bottom: 0;
  }

  &.textfieldview .m-error-message {
    right: 36px;
    bottom: 12px;
    top: auto;
  }

  &.toggleswitchview {

    .m-error-message {
      right: 100px;
    }

    .movable-container {
      border: 1px solid $error;
      padding: 1px 3px 0 3px;
    }
  }

  & .m-label {
    color: $error;
  }

}