.listview {
  @extend .margin0010;

  ul {
    margin: 0;
    padding: 0;

    .listitemview {

      li {
        position: relative;
        display: block;
        padding: 10px 15px;
        border-bottom: 1px solid #ddd;
        list-style: none;
        cursor: pointer;
        overflow: hidden;
      }

      &.disabled li {
        cursor: default;
      }

      i{
        float: right;
        font-size: $m-primary-font-size * 1.4;
        color: $m-list-item-color;
      }

    }



    .listitemview:first-child li {
      border-top: 1px solid #ddd;
    }
  }

  .listitemview.active,
  .listview ul li.active {
    background-color: $m-primary-active-color;
    color: $m-primary-active-text-color;
  }
}