.listview {
  @extend .margin1010;

  ul {
    margin: 0;
    padding: 0;

    .listitemview {

      li {
        position: relative;
        display: block;
        padding: 10px 15px;
        border-bottom: 1px solid #ddd;
        list-style: none;
        cursor: pointer;
      }

    }

    .listitemview:first-child li {
      border-top: 1px solid #ddd;
    }
  }

  .listitemview.active,
  .listview ul li.active {
    background: $m-primary-active-color;
    color: $m-primary-active-text-color;
  }
}