.has-menu {
  overflow: visible;
}

.menuview {

  .fade.in{

  }

  //  position: absolute;
  //  top: $tablayout-menu-height;
  //  left: ($m-menu-view-transition-width) * -1;
  //  bottom: 0;
  //  display: block;
  //  background: transparent;
  //  width: $m-menu-view-width;


  &.on-move {
    .movable-container {
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none;
    }
  }

  &.on-left.on-move{
    .movable-backdrop{
      right: 0;
    }
  }


  &.on-right,
  &.on-move {

    .movable-container {
      right: 0;
      max-width: 100%;
    }

  }

  &.on-right {
    .movable-container {
//      -webkit-transform: translate3d($m-menu-view-transition-width, 0, 0);
//      -moz-transform: translate3d($m-menu-view-transition-width, 0, 0);
//      -ms-transform: translate3d($m-menu-view-transition-width, 0, 0);
//      -o-transform: translate3d($m-menu-view-transition-width, 0, 0);
//      transform: translate3d($m-menu-view-transition-width, 0, 0);
    }
  }

  &.on-left{
    .movable-backdrop{
      right: 100%;
    }
  }

  .movable-backdrop{
    background: $black;
    left: 0;
    right: 0;
    opacity: 0;
  }

  .movable-backdrop,
  .movable-container {

    position: absolute;
    top: $tablayout-menu-height;
    bottom: 0;
    display: block;
    overflow: hidden;
  }

  .movable-container {
    left: ($m-menu-view-transition-width) * -1;
    background: transparent;
    -webkit-transition: -webkit-transform $m-menu-transition ease;
    -moz-transition: -moz-transform $m-menu-transition ease;
    -o-transition: -o-transform $m-menu-transition ease;
    transition: transform $m-menu-transition ease;

    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    .movable-element {
      //top: $tablayout-menu-height * -1;
      position: absolute;
      left: $m-menu-view-transition-width;
      display: block;
      height: $tablayout-menu-height;
      width: $tablayout-menu-height;
      background: transparent;
      font-size: 3.6rem;
      padding: 8px 0 0 7px;

      border: 1px solid $darkgrey;
      border-left: none;
      border-right-width: $m-button-border-width;
      border-top-right-radius: $m-button-border-radius;
      border-bottom-right-radius: $m-button-border-radius;

      -webkit-user-select: none;
      -webkit-user-drag: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

      -webkit-transition: -webkit-transform $m-menu-transition ease;
      -moz-transition: -moz-transform $m-menu-transition ease;
      -o-transition: -o-transform $m-menu-transition ease;
      transition: transform $m-menu-transition ease;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

  }
}

.menu-content {
  display: block;
  background: $white;
  height: 100%;
  width: $m-menu-view-transition-width;
  margin-right: $m-menu-view-device-swipe-listener-width;
  overflow-y: auto;
}