.has-menu {
  overflow: visible;
}

.menuview {

  @extend .movable-element;

  position: absolute;
  top: $tablayout-menu-height;
  left: ($m-menu-view-width - $m-menu-view-device-swipe-listener-width) * -1;
  bottom: 0;
  display: block;
  background: transparent;
  width: $m-menu-view-width;

  &.on-left {
    width: 100%;
  }

  .movable-close {
    @extend .fullscreen;
    position: absolute;
  }

  .movable-element {
    //top: $tablayout-menu-height * -1;
    position: absolute;
    left: $m-menu-view-width - $m-menu-view-device-swipe-listener-width;
    display: block;
    height: $tablayout-menu-height;
    width: $tablayout-menu-height;
    background: transparent;
    font-size: 3.6rem;
    padding: 8px 0 0 7px;

    border: 1px solid $darkgrey;
    border-left: none;
    border-right-width: $m-button-border-width;
    border-top-right-radius: $m-button-border-radius;
    border-bottom-right-radius: $m-button-border-radius;

    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }

  .menu-content {
    display: block;
    background: $darkgrey;
    height: 100%;
    width: $m-menu-view-width - $m-menu-view-device-swipe-listener-width;
  }

}