.radiolistview {

  label {
    @extend .form;
  }

  input[type="radio"] {
    width: 16px;
    height: 16px;
    background: #fff;
    border: 1px solid #999;
    border-radius: 50%;
    @include appearance(none);
  }

  input[type="radio"]:checked {
    background: $darkblue;
    border-color: transparent;
    outline: none;
  }
}