.toast {
    color: #ffffff;
    text-align: center;
    position: absolute;
    bottom: 10%;
    font-weight: normal;
    display: block;
    width: 98%;
}

.toast div{
    background: rgba(0, 0, 0, 0.8);
    display: inline-block;
    border-radius: 3px;
    padding: 7px 12px;
}