.toggleswitchview {

  position: relative;
  overflow: hidden;
  height: 46px;

  .label-descr,
  .movable-container,
  .movable-grid{
    height: 41px;
  }


  .label-descr{
    display: block;
    position: relative;
    padding: 14px 80px 0 0;
    @extend .ellipsis;
  }

  .toggleswitch-value-listener{
    display: none;
  }

  .movable-grid{
    min-width: 80px;
    display: inline-block;
    position: absolute;
    right: 12px;
    top: 5px;
  }

  .movable-container {
    position: absolute;
    bottom: 0;
    width: 76px;
    border-radius: 36px;
    padding: 3px 3px 0 3px;
  }

  &.on-left .movable-container{
    background: $m-primary-disabled-color;
  }

  &.on-right .movable-container{
    background: $m-primary-color;
  }

  .movable-element {
    position: absolute;
    height: 36px;
    width: 36px;
    border-radius: 36px;
    border: 1px solid $white;
    background: $white;
  }

  .on-value,
  .off-value{
    color: $white;
    max-width: 30px;
    @extend .ellipsis;
  }

  .on-value {
    position: absolute;
    left: 6px;
    top: 9px;
  }

  .off-value {
    position: absolute;
    right: 8px;
    top: 9px;
  }

}