.toggleswitchview {

  position: relative;
  overflow: hidden;
  height: 36px;

  .m-label,
  .movable-container,
  .movable-grid{
    height: 31px;
  }


  .m-label{
    display: block;
    position: relative;
    padding: 14px 80px 0 0;
    @extend .ellipsis;
  }

  .toggleswitch-value-listener{
    display: none;
  }

  .movable-grid{
    min-width: 80px;
    display: inline-block;
    position: absolute;
    right: 12px;
    top: 5px;
  }

  .movable-container {
    position: absolute;
    bottom: 0;
    width: 66px;
    border-radius: 27px;
    padding: 2px 3px 0 3px;
  }

  &.on-left .movable-container{
    background: $m-primary-disabled-color;
  }

  &.on-right .movable-container{
    background: $m-primary-color;
  }

  .movable-element {
    position: absolute;
    height: 27px;
    width: 27px;
    border-radius: 27px;
    border: 1px solid $white;
    background: $white;
  }

  .on-value,
  .off-value{
    color: $white;
    max-width: 30px;
    top: 5px;
    font-size: 1.4rem;
    @extend .ellipsis;
  }

  .on-value {
    position: absolute;
    left: 12px;
  }

  .off-value {
    position: absolute;
    right: 9px;
  }

}