.toolbarview {
  height: $tablayout-menu-height;
  //width: 100%;
  background: $m-primary-color;
  //position: absolute;
  //top: 0;

  .buttonview {
    .button {
      margin-top: 0;
      background: none;
      color: $white;
      border: none;
      padding-left: 0;
      padding-right: 0;

    }

    &.active{
      .button {
        background: none;
        color: $m-primary-active-color;
      }
    }

    &.is-icon-only {

      .button {
        width: $m-button-icon-only-width;
        padding: 6px $m-button-padding-left-right 4px $m-button-padding-left-right;
        text-align: left;
      }
      .fa {
        font-size: $m-primary-font-size * 2;
      }
    }
  }

}

.toolbarview .first {
  @extend .header-first;
}

.toolbarview .first .view > div{
  float: left;
}

.toolbarview .center {
  @extend .header-center;
}

.toolbarview .second {
  @extend .header-second;
}

.toolbarview .second .view > div{
  float: left;
}