$pink: #AA66CC;
$orange: #FFBB33;
$red: #FF4444;
$lightred: #FF2D55;
$lightblue: #46b8da;
$blue: #06AEF3;
$darkblue: #0099CC;
$green: #99CC00;
$grey: #8E8E93;
$lightgrey: #c3c3c3;
$white: #FFFFFF;
$darkwhite: #F2F2F2;
$black: #000000;

// Debug colors
$debug-1: #02ccb9;
$debug-2: #00cc09;
$debug-3: #cc3500;
$debug-4: #cc008d;
$debug-5: #9f00cc;
$debug-6: #4f00cc;
$debug-7: #003fcc;
$debug-8: #0073cc;

$grid-columns: 12;
$grid-gutter-width: 30px;

// Button
$button-border-width: 1px;
$button-border-color: #999;
$button-border-radius: 4px;
$button-border-style: solid;

// Form elements
$form-border-width: 1px;
$form-border-color: #999;
$form-border-style: solid;
$form-element-border: $form-border-width $form-border-style $form-border-color;

$textfield-icon-padding: 30px;
$textfield-icon-x-position: 4px;
$textfield-icon-y-position: 3px;

// Default Colors
$m-primary-color: $blue;
$m-primary-border-color: $lightblue;
$m-primary-active-color: $darkblue;
$m-primary-active-text-color: $white;

// Tabbar
$tablayout-menu-height: 50px;
$tablayout-menu-button-padding: 13px 0 0 0;
$tablayout-menu-scroll-button-width: 200px;

// Default
$m-primary-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$m-primary-font-weight: 300;
$m-primary-font-size: 1.8rem;
$m-primary-line-height: 22px;
$m-primary-font-color: $black;