$blue: #1092d3;
$lightblue: #58b3e0;
$darkblue: #0e7cb4;

$purple: #6c64ff;
$lightpurple: #9893ff;
$darkpurple: #5c55d9;

$green: #2dcca2;
$lightgreen: #6cdbbe;
$darkgreen: #26ae8a;

$red: #ed253d;
$lightred: #f26778;
$darkred: #ca1f34;

$orange: #f45b42;
$lightorange: #f78d7b;
$darkorange: #d04d38;

$yellow: #eab13a;
$lightyellow: #f0c975;
$darkyellow: #d99731;

$grey: #c3c3c3;
$lightgrey: #d5d5d5;
$darkgrey: #a6a6a6;

$black: #000000;
$white: #FFFFFF;
$darkwhite: #F2F2F2;

// Debug colors
$debug-1: #02ccb9;
$debug-2: #00cc09;
$debug-3: #cc3500;
$debug-4: #cc008d;
$debug-5: #9f00cc;
$debug-6: #4f00cc;
$debug-7: #003fcc;
$debug-8: #0073cc;

$grid-columns: 12;
$grid-gutter-width: 30px;

$lightenPercentage: 15%;
$lightenPercentageLight: 5%;

// Button
$m-button-icon-only-width: 50px;
$m-button-border-width: 1px;
$m-button-border-color: $blue;
$m-button-text-color: $blue;
$m-button-border-radius: 4px;
$m-button-border-style: solid;
$m-button-padding-bottom: 10px;
$m-button-padding-top: 10px;
$m-button-padding-left-right: 10px;
$m-button-padding: $m-button-padding-top $m-button-padding-left-right $m-button-padding-bottom $m-button-padding-left-right;
// Button color primary
$m-button-primary-border-color: $purple;
$m-button-primary-text-color: $purple;
$m-button-primary-background-color: $white;
// Button color success
$m-button-success-border-color: $green;
$m-button-success-text-color: $green;
$m-button-success-background-color: $white;
// Button color error
$m-button-error-border-color: $red;
$m-button-error-text-color: $red;
$m-button-error-background-color: $white;
// Button color warning
$m-button-warning-border-color: $orange;
$m-button-warning-text-color: $orange;
$m-button-warning-background-color: $white;
// Button color info
$m-button-info-border-color: $yellow;
$m-button-info-text-color: $yellow;
$m-button-info-background-color: $white;
// Button color fuzzy
$m-button-fuzzy-border-color: $grey;
$m-button-fuzzy-text-color: $grey;
$m-button-fuzzy-background-color: $white;

$strong: bold;
$normal: normal;
$weak: lighter;

// Form elements
$form-border-width: 1px;
$form-border-color: $blue;
$form-border-style: solid;
$form-element-border: $form-border-width $form-border-style $form-border-color;

$textfield-icon-padding: 30px;
$textfield-icon-x-position: 4px;
$textfield-icon-y-position: 14px;
$textfield-icon-font-size: 2.2rem;
$textfield-padding: 6px;

// Default Colors
$m-primary-color: $blue;
$m-primary-text-color: $black;
$m-primary-border-color: $lightblue;
$m-primary-active-color: $darkblue;
$m-primary-active-text-color: $white;

// Tabbar
$tablayout-menu-height: 50px;
$tablayout-menu-button-padding: 13px 0 0 0;
$tablayout-menu-scroll-button-width: 200px;

//swtichheadercontent
$switch-header-content-padding: 4px 0 0 0;
$header-top: 4px;
$m-header-icon-only-font-size: 2.4rem;

// Default
$m-primary-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$m-primary-font-weight: 300;
$m-primary-font-size: 1.6rem;
// use this to calculate on instead of the font size
$m-primary-calc-font-size: 16px;
$m-primary-line-height: 2.2rem;
$m-primary-font-color: $black;
$m-primary-margin-top: 10px;
$m-primary-margin-bottom: 20px;

// Modal
$modal-backdrop-background-color: $black;

$content-padding: 15px;

$m-primary-disabled-color: $lightgrey;
$m-primary-disabled-text-color: $grey;

$selection-color: $grey;
$selection-checked-color: $blue;

//List
$m-list-item-color: $green;

//stencil
$m-stencil-text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;


// menu view
$m-menu-view-width: 200px;
$m-menu-view-device-swipe-listener-width: 20px;
$m-menu-view-transition-width: $m-menu-view-width - $m-menu-view-device-swipe-listener-width;
$m-menu-transition: 500ms;