.m-view.m-labelview.m-dialogview-inner-message {
  word-wrap: break-word;
  padding: 15px;
}

.m-view.m-labelview.m-dialogview-headline {
  word-wrap: break-word;
  padding: 15px;
}

.buttons {
  padding: 0 15px 0 15px;
}

.m-dialogview-inner {
  position: relative;
  width: 300px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1040;
  border: 1px solid #1092d3;
  color: #1092d3;
  border-radius: 4px;
}