.header {
    font-size:1.2em;
    color: #8a5a4b;
}

.ui-br {
    border: 0px;
}

.firstName {
    font-weight:normal;
}

.lastName {
    font-weight:bold;
}

.contactItem {
    
}