<div>
    <h2>Edit</h2>

    <div class="form-horizontal">

        <div class="control-group">
            <label class="control-label">Firstname</label>
            <div class="controls">
                <input type="text" class="firstname" value="<%= firstname %>"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Lastname</label>

            <div class="controls">
                <input type="text" class="lastname" value="<%= lastname %>"/>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button class="btn edit btn-success">Edit</button>
                <button class="btn delete btn-danger">Delete</button>
            </div>
        </div>
    </div>

    <button class="btn back" type="button">Back</button>

</div>