div.bg {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.09, #DDDDDD), color-stop(0.78, #FFFFFF));
    background: -moz-linear-gradient(center bottom, #DDDDDD 9%, #FFFFFF 78%);
}

div.red {
    width:inherit;
	display:block;
	height:10px;
	background-image: -webkit-gradient(linear, left top, left bottom,color-stop(0.00, #c90000),color-stop(0.10, #c90000),color-stop(0.50, #e70000),color-stop(1.0, #ed1b2f));
}

div.redSmall {
    width:inherit;
	display:block;
	height:5px;
	background-image: -webkit-gradient(linear, left top, left bottom,color-stop(0.00, #c90000),color-stop(0.10, #c90000),color-stop(0.50, #e70000),color-stop(1.0, #ed1b2f));
}

div.startPage div.footer {
    position:absolute;
    bottom:0px;
}

div.startPage img.logo {
    width: 95%;
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: 50px;
}

div.startPage a.ui-btn {
    background-attachment: scroll;
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #31343D;
    display: block;
    margin: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    text-decoration: none;
    text-align: left;
}

div.startPage a.ui-btn span.ui-btn-inner {
    background-image:url("menuButton_right.png");
    background-position:top right;
    background-repeat:no-repeat;
}

div.startPage a.ui-btn span.ui-btn-inner span.ui-btn-text {
    display:block;
    float:left;
    height:48px;
    width:100%;
    text-decoration:none;
    margin-top:-1px;   
    text-align:left;
    text-shadow: 0px 1px 0 #ffffff;
    font-weight:bold;
    color:#31343d;
    line-height:14px;
    margin: 17px 0px 0px 80px;
    font: bold 24px arial,sans-serif;
}

a.ui-btn-up-activities, a.ui-btn-hover-activities {
    background-image: url("activityButton_left.png");
}

a.ui-btn-up-info, a.ui-btn-hover-info {
    background-image: url("customerButton_left.png");
}

[data-role=header] {
    background-image: -webkit-gradient(linear, left top, left bottom,color-stop(0.00, #fafafa),color-stop(0.40, #f3f3f3),color-stop(0.60, #eaeaea),color-stop(0.97, #dadada), color-stop(1.0, #cad2db));
    text-shadow: 0px 1px 0 #ffffff;
    padding:5px;
    padding-top:0px;
    font-weight:bold;
    color:#000000;
    border:0px;
    margin:0px;
    height:35px;
}

[data-role=header] h1 div {
    font-size:20px;
    margin:0px;
}

[data-theme=back] {
    background-image:url(backButton_right.png);
    background-position:right top;
    background-repeat:no-repeat;
    color:#ffffff;
    display:block;
    float:left;
    font:14px arial,sans-serif;
    font-weight:bold;
    height:30px;
    margin-right:6px;
    margin-left:-5px;
    margin-top:-1px;
    padding-right:5px;
    text-decoration:none;
    text-shadow: 0px -1px 0 #464a55;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

[data-theme=back] span.ui-btn-inner {
    background-attachment:scroll;
    background-image:url(backButton_left.png);
    background-position:0 0;
    background-repeat:no-repeat;
    display:block;
    line-height:14px;
    padding:8px 5px 9px 22px;
    margin-top:-1px;
}

[data-theme=back] span.ui-btn-inner span.ui-btn-text {
    font-size:14px;
}

[data-role=footer] {
    background-image: -webkit-gradient(linear, left top, left bottom,color-stop(0.00, #fafafa),color-stop(0.40, #f3f3f3),color-stop(0.60, #eaeaea),color-stop(0.97, #dadada), color-stop(1.0, #cad2db));
    text-shadow: 0px 1px 0 #ffffff;
    padding:5px;
    padding-top:0px;
    font-weight:bold;
    color:#000000;
    border:0px;
    margin:0px;
    height:70px;
}

[data-role=footer] h1.ui-title {
    width:100%;
    padding:0px;
    margin:0px;
}

[data-role=footer] [role=button] {
    margin-left:5%;
    margin-top:10px;
    display:block;
    width:85%;
    border: thin solid #c3c3c3;
    -webkit-border-radius:5px;
    text-decoration:none;
    background-image:-webkit-gradient( linear, left top, left bottom,color-stop(0.00, #fafafa),color-stop(0.40, #f3f3f3),color-stop(0.60, #eaeaea),color-stop(0.97, #dadada),color-stop(1.0, #cad2db));
    text-shadow: 0px 1px 0 #ffffff;
    padding:5px;
    padding-bottom:10px;
    font-size:16px;
    font-weight:bold;
    color:#31343d;
    height:30px;
}

div.bottom {
    position:fixed;
    bottom:75px;
}