<section>
    
<header>
    <?js if (children.length > 0) { ?>
    <ul><?js
        var self = this;
        children.forEach(function(t) { ?>
        <li><?js= self.tutoriallink(t.name) ?></li>
    <?js }); ?></ul>
    <?js } ?>
    <span id="toc0" class="toc-shim"></span>
    <h1 class="page-title"><?js= header ?></h1>
</header>  

<article>
    <?js= content ?>
</article>

</section>  
