<div class="m-view m-overlayview m-actionsheetview">
    <div class="m-view m-overlayview-inner m-actionsheetview-inner">
        <div class="m-view m-labelview m-actionsheetview-title"><%= title %></div>
        <div data-childviews="actionsheetChildren"></div>
        <div data-childviews="cancelButton"></div>
    </div>
</div>