<div class="m-view m-overlayview m-alertview m-alertview-show" style="display: block;">
    <div class="m-view m-overlayview-inner m-alertview-inner">
        <div class="m-view m-labelview m-alertview-title"><%= title %></div>
        <div class="m-view m-labelview m-alertview-inner-message"><%= text %></div>
        <div data-childviews="buttonContainer"></div>
    </div>
</div>