<div class="m-view m-overlayview m-alertview m-alertview-show" style="display: block;">
    <div class="m-view m-overlayview-inner m-alertview-inner">
        <div class="m-view m-labelview m-alertview-inner-message"></div>
        <div data-childviews="buttons"></div>
    </div>
</div>