<div class="m-view m-overlayview m-dialogview m-dialogview-show" style="display: block;">
    <div class="m-view m-overlayview-inner m-dialogview-inner">
        <div class="m-view m-labelview m-dialogview-headline"><%= headline %></div>
        <div class="m-view m-labelview m-dialogview-inner-message"><%= text %></div>
        <div data-childviews="buttons"></div>
    </div>
</div>