<div><% if(label) {  %> <div class="label"><%= label %></div> <% } %> <div class="input-icon-addon"> <% if(icon) { %> <i class="fa <%= icon %> fa-fw"></i> <% } %><p class="inner-text"><%= value %></p></div></div>


