<div>
    <div class="toggleswitch-value-listener" contenteditable="true"><%= value %></div>

    <% if(label){%>
        <div class="label-descr"> <%= label %></div>
    <% }%>
    <div class="movable-grid">
        <div class="movable-container">
              <% if(onLabel){%>
                  <div class="on-value"><%= onLabel %></div>
              <% }%>

              <% if(onLabel){%>
                  <div class="off-value"><%= offLabel %></div>
              <% }%>

              <% if(onLabel){%>
                  <div class="movable-element"></div>
              <% }%>
        </div>
    </div>
</div>

