body{
    font-family: $m-primary-font-family;
    font-weight: $m-primary-font-weight;
    font-size  : $m-primary-font-size;
}

.clear {
    clear: both;
    float: none;
    overflow: hidden;
}

.btn-success .button {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-danger .button {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-info .button {
    color: #fff;
    background-color: $m-primary-color;
    border-color: $m-primary-border-color;
}