body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
}

.clear {
    clear: both;
    float: none;
    overflow: hidden;
}

.btn-success .button {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-danger .button {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-info .button {
    color: #fff;
    background-color: #06AEF3;
    border-color: #46b8da;
}