.debug-menu{
  position: fixed;
  z-index: 1;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
}

.debug-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;

  .debug-grid{
    height: 100%;

  }

  .row{
    height: 100%;

    .col-xs-1 {
      background: rgba(0, 255, 0, 0.5);
      height: 100%;
    }

    .col-xs-1:nth-child(2n+1) {
      background: rgba(00, 255, 255, 0.5);
    }
  }

}

