*{
    box-sizing: border-box;
}
html,
body,
#m-main{
    overflow: hidden;
}

body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6{

    margin: 0;
    padding: 0;
}