// Debug colors
$pink: #AA66CC;
$orange: #FFBB33;
$red: #FF4444;


$grid-columns: 12;
$grid-gutter-width: 30px;

// Button
$button-border-width: 1px;
$button-border-color: #999;
$button-border-radius: 4px;




// Default Colors
$m-primary-color: #06AEF3;
$m-primary-border-color: #46b8da;
$m-primary-active-color: #0099CC;
$m-primary-active-text-color: #FFFFFF;



// Tabbar
$tablayout-menu-height: 70px;
$tablayout-menu-button-padding: 20px 0 0 0;