.buttongroupview {

  .button {

  }

  .buttonview {

    &.active {
      .button {
        background: $m-primary-active-color;
        color: $m-primary-active-text-color;
      }
    }

    .button {
      background: $m-primary-active-color;
    }

    &:first-child {

      .button {

      }
    }
    &:last-child {

      .button {

      }
    }
  }
}
