$pink: #AA66CC;
$orange: #FF9500;
$red: #FF3B30;
$lightred: #FF2D55;
$lightblue: #46b8da;
$blue: #59C8FA;
$darkblue: #007AFF;
$green: #4BD964;
$grey: #8E8E93;


$m-primary-font-family: -apple-system-font;
$m-primary-active-color: transparent;
$m-primary-active-text-color: $darkblue;

$tablayout-menu-height: 80px;

$tablayout-menu-scroll-button-width: 140px;