$blue: #59C8FA;
$lightblue: #46b8da;
$darkblue: #007AFF;
$green: #4BD964;
$red: #FF3B30;
$lightred: #FF2D55;

$grey: #8E8E93;

$m-primary-font-family: -apple-system-font, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$lightenPercentage: 25%;

$textfield-icon-y-position: 13px;

$m-primary-active-color: $lightgrey;
$m-primary-active-text-color: $darkblue;

$tablayout-menu-height: 50px;


$tablayout-menu-scroll-button-width: 140px;

$selection-checked-color: #59C8FA;

$m-button-padding-bottom: 10px;
$m-button-padding: $m-button-padding-top $m-button-padding-left-right $m-button-padding-bottom $m-button-padding-left-right;