<div>
    <h2>Add</h2>

    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label">Firstname</label>
            <div class="controls">
                <input type="text" class="firstname" value="" />
            </div>
        </div>
                <div class="control-group">
            <label class="control-label">Lastname</label>
            <div class="controls">
                <input type="text" class="lastname" value="" />
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button class="btn save btn-success">Save</button>
            </div>
        </div>
    </form>

    <button class="btn back" type="button">Back</button>

</div>