<form role="form">
  <h1>Edit</h1>
  <div class="form-group">
    <label>Firstname</label>
      <input class="firstname form-control" value="<%= firstname %>">
  </div>
  <div class="form-group">
    <label>Lastname</label>
      <input class="lastname form-control" value="<%= lastname %>">
  </div>
</form>