body, html{
    xoverflow: hidden;
}

.right,
.left{
    width: 50%;
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
    overflow-x: hidden;
    overflow-y: scroll;
    top:0;
    bottom: 0;
    position: absolute;

}

.right{
    left: 50%;
}

.left {
    xheight: 200px;
}

.left .contact{

    border-bottom: 1px solid #999;
    padding: 10px 10px;
    cursor: pointer;
}


.left .contact div{
    display: inline-block;
    margin: 0 10px 0 0;
}

.left .contact div:nth-child(2){
    font-weight: bold;
}

.all_contacts_divider{
    background: powderblue;
}


#splashscreen{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: powderblue;
}


#splashscreen .bubblingG {
    position: absolute;
    width:80px;
    height:50px;
    margin: -30px 0 0 -25px;
    left: 50%;
    top: 50%;
}

#splashscreen .bubblingG span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 25px auto;
    background: #000000;
    -moz-border-radius: 50px;
    -moz-animation: bubblingG 1.3s infinite alternate;
    -webkit-border-radius: 50px;
    -webkit-animation: bubblingG 1.3s infinite alternate;
    -ms-border-radius: 50px;
    -ms-animation: bubblingG 1.3s infinite alternate;
    -o-border-radius: 50px;
    -o-animation: bubblingG 1.3s infinite alternate;
    border-radius: 50px;
    animation: bubblingG 1.3s infinite alternate;
}

#splashscreen #bubblingG_1 {
    -moz-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

#splashscreen #bubblingG_2 {
    -moz-animation-delay: 0.39s;
    -webkit-animation-delay: 0.39s;
    -ms-animation-delay: 0.39s;
    -o-animation-delay: 0.39s;
    animation-delay: 0.39s;
}

#splashscreen #bubblingG_3 {
    -moz-animation-delay: 0.78s;
    -webkit-animation-delay: 0.78s;
    -ms-animation-delay: 0.78s;
    -o-animation-delay: 0.78s;
    animation-delay: 0.78s;
}

@-moz-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:#000000;
        -moz-transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color:#FFFFFF;
        -moz-transform: translateY(-21px);
    }

}

@-webkit-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:#000000;
        -webkit-transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color:#FFFFFF;
        -webkit-transform: translateY(-21px);
    }

}

@-ms-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:#000000;
        -ms-transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color:#FFFFFF;
        -ms-transform: translateY(-21px);
    }

}

@-o-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:#000000;
        -o-transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color:#FFFFFF;
        -o-transform: translateY(-21px);
    }

}

@keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:#000000;
        transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color:#FFFFFF;
        transform: translateY(-21px);
    }

}