.firstname{
    margin-right: 4px;
}

.list-group-item{
    font-weight: normal;
    font-size: 18px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-info {
    color: #fff;
    background-color: #06AEF3;
    border-color: #46b8da;
}