[data-id=tab_bar] .ui-icon {
    width:30px;
    height:30px;
    margin-left:-14px !important;
    margin-top:-4px !important;
}

[data-icon=core] .ui-icon {
    background: url("images/core.png") no-repeat scroll 50% 50% transparent;
}

[data-icon=storage] .ui-icon {
    background: url("images/storage.png") no-repeat scroll 50% 50% transparent;
}

[data-icon=utilities] .ui-icon {
    background: url("images/utilities.png") no-repeat scroll 50% 50% transparent;
}

[data-icon=controls] .ui-icon {
    background: url("images/controls.png") no-repeat scroll 50% 50% transparent;
}

div[data-role=header] h1.ui-title {
    overflow:visible;
}

.titleSource {
    margin-top: 25px;
    color: #999999;
    font-weight: bold;
    margin-bottom:10px;
    font-size: 14px;
}

.afterControlGroup {
    margin-top:40px;
}

.source {
    background: #EFEFEF;
    padding: 10px;
    color: #333333;
    border: 1px dashed #999999;
    text-shadow: none;
    font-family: monospace;
    font-size:12px;
}

a[data-theme=customButton] {
    color:#ffffff;
    -moz-box-shadow: 0px 0px 0px #ffffff;
    -webkit-box-shadow: 0px 0px 0px #ffffff;
    -o-box-shadow: 0px 0px 0px #ffffff;
    box-shadow: 0px 0px 0px #ffffff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="3166ff", endColorstr="00009b");
    background: -webkit-gradient(linear, left top, left bottom, from(#3166ff), to(#00009b));
    background: -moz-linear-gradient(top center, #3166ff, #00009b);
    font-size: 14px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width:74%;
    border:1px solid #232323;
    margin-left:13%;
}

a[data-theme=customButton]:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="00009b", endColorstr="3166ff");
    background: -webkit-gradient(linear, left top, left bottom, from(#00009b), to(#3166ff));
    background: -moz-linear-gradient(top center, #00009b, #3166ff);
}

a[data-theme=customButton] span {
    text-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow: 0px 0px 0px #ffffff;
    -webkit-box-shadow: 0px 0px 0px #ffffff;
    -o-box-shadow: 0px 0px 0px #ffffff;
    box-shadow: 0px 0px 0px #ffffff;
}

a[data-theme=customButton] span:hover {
    font-weight: bold;
}

div.container div {
    text-shadow:none;
    color: #FFFFFF;
    font-weight:bold;
}

div.container .column1, div.container .column2, div.container .column3 {
    float: left;
    width:25%;
    text-align:center;
}

div.container .column1 {
    background-color: #FF0000;
    width:50%;
}

div.container .column2 {
    background-color: #00FF00;
}

div.container .column3 {
    background-color: #0000FF;
}

img.myImage {
    border:5px solid #FF0000;
    position:relative;
    left:50%;
    margin-left: -100px;
    width:200px;
    height:75px;
}