.notificationLabel {

    font-size: 14px;
    text-align: left;
    margin-top: 40px;
}

.notification {

    color: #3366ff;
    font-size: 16px;
    text-align: center;
    margin-top: 25px;
}