.tablayout {

  .tabbarbuttongroupview,
  .buttongroupview {

    .buttonview {

      &.active {
        .button {
          color: #444;
          background: none;
          border-bottom: 6px solid #99CC00;
        }
      }

      .button {
        border-width: 0;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: bold;
        background: none;
        color: #444;
        padding: 10px 0;
        margin: 0;
        border-bottom: 6px solid transparent;
        div {
          border-right: 1px solid #ccc;
        }
      }
      &:first-child {
        padding-left: 0;

        .button {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }

      &:last-child {
        padding-right: 0;

        .button {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-right: none;
        }

      }

    }
    background: #f0f0f0;
  }

}