.listText {
    font-size: 12px;
    font-weight: normal;
    white-space: normal;
}

.listDate {
    margin-top: 20px;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
}

[data-id=tabbar1] .ui-icon {
    width:25px;
    height:25px;
    margin-left:-11px !important;
    margin-top:-2px !important;
}

[data-icon=notepad] .ui-icon {
    background: url("notepad.png") no-repeat 50% 50% transparent;
}

[data-icon=todo] .ui-icon {
    background: url("todo.png") no-repeat 50% 50% transparent;
}