.listText {
    font-size: 12px;
    font-weight: normal;
    white-space: normal;
}

.listDate {
    margin-top: 20px;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
}

.textfieldInit {
    color: #CDCDCD;
}

.details {
    font-size: 16px;
    font-weight: normal;
}

.detailsLabel {
    color: #77ACF7;
    font-weight: bold;
    font-size: 16px;
}

.detailsSpacer {
    margin-top: 20px;
}

[data-id=tabbar1] .ui-icon {
    width:25px;
    height:25px;
    margin-left:-11px !important;
    margin-top:-2px !important;
}

[data-icon=notepad] .ui-icon {
    background: url("notepad.png") no-repeat 50% 50% transparent;
}

[data-icon=todo] .ui-icon {
    background: url("todo.png") no-repeat 50% 50% transparent;
}

[data-icon=settings] .ui-icon {
    background: url("settings.png") no-repeat 50% 50% transparent;
}

.error {
    border: 1px solid #FF0000;
}

.ui-controlgroup-label, .label {
    font-weight: bold;
    margin-bottom:10px;
}

.label {
    margin-top:30px;
}

.contactText {    
    margin-bottom:10px;
}

div.todos_form {
    padding-right:15px;
    border:0px;
}

div.todos_form label {
    width: 20%;
    font-weight:bold;
}

div.todos_form input[type=text], div.todos_form textarea {
    width: 100%!important;
}

div.ui-loader span.ui-icon {
    background: url("loader.gif") no-repeat 50% 50% transparent;
    -webkit-transform:none;
    -webkit-animation:none;
    height:32px;
    width:32;
}