
.ellipsis {
  white-space: nowrap !important;
  text-overflow: ellipsis;
  overflow: hidden;
}

.form {
  @extend .ellipsis;
  @include appearance(none);
  border: $form-element-border;
  display: block;
  width: 100%;
  font-size: $m-primary-font-size;
  line-height: $m-primary-line-height;
  border-radius: $m-button-border-radius;
  padding: $textfield-padding;
  outline: none;
}

.selection {
  @extend .form;
  border: none;
}

.fullscreen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.input {
  outline: none;
}

.margin0010 {
  margin-bottom: $m-primary-margin-bottom;
}

.margin1000 {
  margin-top: $m-primary-margin-top;
}

.header-center {
  font-size: $m-primary-font-size;
  color: $white;
  text-align: center;
  padding: 13px 0 0 0;
}

.header-first {
  position: absolute;
  left: 0px;
  top: $header-top;
}

.header-second {
  position: absolute;
  right: 0px;
  top: $header-top;
}

.stencil{
  color: transparent;
  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
  background: $darkgrey;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  // TODO
  float: none;
}