@import "compass/css3/appearance";

.ellipsis{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.form {
  @extend .ellipsis;
  @include appearance(none);
  border: $form-element-border;
  display: block;
  width: 100%;
  font-size: $m-primary-font-size;
  line-height: $m-primary-line-height;
  border-radius: $button-border-radius;
  padding-top: $textfield-padding;
  padding-bottom: $textfield-padding;
  outline: none;
}
