<div id="pt-main" class="pt-perspective">
    <!-- old

<div class="container">
    <div class="page-header">
        <h1>Contacts App</h1>
    </div>

    <div class="content"></div>
</div>
-->
    <div class="pt-triggers">
        <button id="iterateEffects" class="pt-touch-button">Show next page transition</button>
    </div>
    <div class="pt-page pt-page-1 pt-page-current">

        <!--<h1><span>A collection of</span><strong>Page</strong> Transitions</h1>-->
        <!--<div class="page-header">-->
            <!--<h1>Contacts App</h1>-->
        <!--</div>-->
        <!--<button id="iterateEffects" class="pt-touch-button">Show next page transition</button>-->
        <div class="content"></div>
    </div>
    <div class="pt-page pt-page-2"><h1><span>this is</span><strong>Page</strong>2</h1></div>
    <div class="pt-page pt-page-3"><h1><span>A collection of</span><strong>Page</strong> Transitions</h1></div>
    <div class="pt-page pt-page-4"><h1><span>A collection of</span><strong>Page</strong> Transitions</h1></div>
    <div class="pt-page pt-page-5"><h1><span>A collection of</span><strong>Page</strong> Transitions</h1></div>
    <div class="pt-page pt-page-6"><h1><span>A collection of</span><strong>Page</strong> Transitions</h1></div>
</div>