
h2.view {
    padding: 0;
    margin: 0;
}

.m-page {
    overflow: hidden;
}

[data-childviews="content_page2"],
[data-childviews="content_page1"]{
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    top: 50px;
    bottom: 0;
    right: 0px;
    left: 0;
    position: absolute;
}

.firstname{
    margin-right: 4px;
}

.list-group-item{
    font-weight: normal;
    font-size: 18px;
}

body .button.buttonview.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}


body .button.buttonview.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

body .button.buttonview.btn-info {
    color: #fff;
    background-color: #06AEF3;
    border-color: #46b8da;
}

.button{
    margin: 0 0 0 8px;
}

.company-logo{

    display: block;
    position: absolute;
    right: 10px;
    top: 3px;
    background: #dddddd;
    height: 35px;
    width: 35px;
    border-radius: 35px;
    background-size: cover;
}

.detail-page .company-logo{
    height: 450px;
    width: 100%;
    border-radius: 0;
    position: relative;
    right: auto;
    top: auto;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
}

.Consulting{

    background-image: url("../ressources/mwayconsulting.png");

}

.Solutions{
    background-image: url("../ressources/mway.png");
}

.AG,
.Agero{
    background-image: url("../ressources/agero.png");
}