.content-wrapper .content-wrapper-no .listview{
    margin-top: 0;
}

h2.view {
    padding: 0;
    margin: 10px 0 0 0;
}

.m-page {
    overflow: hidden;
}

[data-childviews="content_page2"],
[data-childviews="content_page1"] {
    overflow: scroll;
    overflow-x: hidden;
    top: 50px;
    bottom: 0;
    right: 0px;
    left: 0;
    position: absolute;
}

.firstname {
    margin-right: 4px;
}

.list-group-item {
    font-weight: normal;
    font-size: 18px;
}

body .button.buttonview.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

body .button.buttonview.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

body .button.buttonview.btn-info {
    color: #fff;
    background-color: #06AEF3;
    border-color: #46b8da;
}

.button {
    margin: 0 0 0 8px;
}

.company-logo {
    display: block;
    background: #dddddd;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-size: cover;
    overflow: hidden;
    font-size: 59px;
    color: #bababa;
    text-align: center;
    padding: 42px 0 0 0;
}

.detail-page .company-logo {
    height: 150px;
    width: 100%;
    border-radius: 0;
    position: relative;
    right: auto;
    top: auto;
    font-size: 300px;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
}

.company-logo:before {
    content: "\f007";
    font-family: FontAwesome;
    display: block;
    margin-top: -20px;
}

.detail-page .company-logo:before {
    margin-top: -120px;
    padding: 180px 0 0 0;
}

.Consulting {

    background-image: url("../ressources/mwayconsulting.png");

}

.Solutions {
    background-image: url("../ressources/mway.png");
}

.Agero {
    background-image: url("../ressources/agero.png");
}

.detail-page .textview {
    padding-top: 10px;
    padding-bottom: 10px;
}

.detail-page h2 {
    color: #06AEF3;
}

.detail-page .textview i {
    color: #a8a8a8;
    padding-right: 15px;
}

.detail-page .input-icon-addon {
    padding-top: 15px;
}

.listview ul li.listitemview {
    padding-bottom: 20px;
    border-bottom: 1px solid #999999;
    overflow: hidden;
}

.listitemview .name {
    font-weight: bold;
    padding-bottom: 10px;
}

/* Tutorial */

.tutorial {
    position: fixed;
    overflow: scroll;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
}

.tutorial a {
    color: white;
}

.tutorial .buttonview{
    color: black;
}

.zip{
    padding-right: 5px;
}