* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    overflow: visible;
    overflow-y: scroll;
}

body #m-main,
body .m-page {
    overflow: visible;
}

h1,
h2 {
    font-weight: normal;
}

h1 {
    font-size: 40px;
    padding: 0 0 5px 0;
}

h2 {
    padding: 0;
}

h3 {
    text-align: center;
    line-height: 24px;
    font-weight: normal;
    font-size: 18px;
    margin-top: 25px;
    color: #7e7663;
}

h1 strong {
    color: #FF9C00;
    font-weight: normal;
}

h1 span {
    color: #FFFFFF;
    font-weight: normal;
}

p {
    text-align: center;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.content_page1_header {
    background: #32BBEB;
    height: 75px;
    width: 100%;
    padding: 20px;
    min-width: 420px;
}

.content_page1_header .button {
    background: transparent;
    color: white;
    border: none;
}

.content_page1_header .button-container {
    width: 100%;
    margin: 0 auto;
    text-align: right;
}

.header .button-container .buttonview {
    display: inline-block;
}

.header .button-container .buttonview:last-child {
    background: #02779C;
    border-radius: 20px;
}

.content_page1 {
    padding: 75px 0 0 0;
}

.content-banner-content,
.content-content {
    width: 80%;
    margin: 0 auto;
    position: relative;

}

.button-container,
.content-header-bg,
.content-banner-content,
.content-header-content,
.content-content {
    max-width: 1280px;
    min-width: 400px;
    padding-left: 20px;
}

.content-header {
    min-width: 400px;
    height: 750px;
    text-align: center;
    margin: 0 0 0 0;
    overflow: hidden;
    position: relative;
    background: #32BBEB; /* Old browsers */
    background: -moz-linear-gradient(top, #32BBEB 80%, #ffffff 80%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #32BBEB), color-stop(80%, #ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #32BBEB 80%, #ffffff 80%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #32BBEB 80%, #ffffff 80%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #32BBEB 80%, #ffffff 80%); /* IE10+ */
    background: linear-gradient(to bottom, #32BBEB 80%, #ffffff 80%); /* W3C */
}

.content-header .view {
    z-index: 2;
}

.text {
    line-height: 24px;
    padding-top: 26px;
    font-size: 14px;
}

.content-header-content,
.content-header-bg {
    text-align: center;
    padding: 179px 20px 0 20px;
    position: relative;
    margin: 0 0 0px 0;
    overflow: hidden;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.scrolldown {
    width: 80px;
    margin: 0 auto;
    height: 50px;
    overflow: hidden;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    left: 50%;
    margin-left: -40px;
    bottom: 96px;
}

.scrolldown-triangle {
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top: 80px solid #32BBEB;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    bottom: 75px;
    left: 50%;
    margin-left: -80px;
}

.content-header .view.scrolldown-triangle {
    z-index: 0;
}

.content-header-bg {
    margin: 0 auto;
    background-image: url(../ressources/iphone5c@2x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}

.content-header-content {
    xbackground: #ffff00;
}

.content-header .view.content-header-bg {
    z-index: 1;
}

.content-header h2 {
    color: #ffffff;
    font-size: 21px;
    padding: 0 0 50px 0;
}

.content-content {
    margin-top: 74px;
}

.content-content h2 {
    text-align: center;
    font-weight: normal;
    font-size: 36px;
    padding: 10px 60px 90px 60px;
}

.lefttextrightimage,
.leftimagerighttext {
    margin-bottom: 97px;
    overflow: hidden;
}

.leftimagerighttext:last-child{
    margin-bottom: 0;
}

.leftimagerighttext {

}

.leftimagerighttext .leftrightview-first {
    width: 50%;
    float: left;
}

.leftimagerighttext .leftrightview-second {
    width: 50%;
    float: right;
}

/**********/

.lefttextrightimage {
    clear: both;
}

.lefttextrightimage .leftrightview-first {
    width: 50%;
    float: right;
}

.lefttextrightimage .leftrightview-second {
    width: 50%;
    float: left;
}

.leftrightview-second .image div{
}

.leftrightview-second .image div img {
    width: 100%;
}

.leftrightview-first {
    padding: 20px 50px 0 50px;
    clear: both;
}

.leftrightview-first .headline div div {
    font-size: 30px;
}

.screensimg {
    background-image: url(../ressources/screensimg@2x.png);
    background-size: cover;
}

.v2absinthimg {
    background-image: url('../ressources/v2absinthimg@2x.png');
    background-size: cover;
}

.bikiniimg {
    background-image: url('../ressources/bikiniimg@2x.png');
    background-size: cover;

}

.logos .children .view {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.logos .backgroundimageview {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-size: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    margin: 10px 20px;
}

.clear {
    clear: both;
    float: none;
}

.stack {
    background-image: url('../ressources/stack@2x.png');
}

.html5 {
    background-image: url('../ressources/html5@2x.png');
}

.grunt {
    background-image: url('../ressources/grunt@2x.png');
}

.bower {
    background-image: url('../ressources/bower@2x.png');
}

.yeoman {
    background-image: url('../ressources/yeoman@2x.png');
}

.phonegap {
    background-image: url('../ressources/phonegap@2x.png');
}

.javascript {
    background-image: url('../ressources/javascript@2x.png');
}

.css3 {
    background-image: url('../ressources/css3@2x.png');
}

.opensource {
    background-image: url('../ressources/opensource@2x.png');
}

.bikini {
    background-image: url('../ressources/bikini@2x.png');
}

.github {
    background-image: url('../ressources/github@2x.png');
}

.github {
    background-image: url('../ressources/github@2x.png');
}

.webstorm {
    background-image: url('../ressources/webstorm@2x.png');
}

.content-banner {
    width: 100%;
    background: #1DBCE7;
    min-height: 100px;
    color: white;
    font-size: 2em;
    padding: 30px 0;
    text-align: center;
    margin: 0 auto;
}

.content-banner.logos {
    width: 100%;
    background: #f0f0f0;
    color: white;
    padding: 0;
    margin: 0 auto;
    margin-top: 0;
    padding: 100px 0;
}

.content-banner.logos h2{
    color: #000000;
}

.content-banner-content {
    height: 100%;
}

.twitterview {
    float: left;
    margin: 0 auto;
}

.footerview {
    margin-top: 20px;
    padding-bottom: 44px;
    overflow: hidden;
}

.footerview a{
    color: #000000;
}

.footer-left {
    width: 25%;
    float: left;
    margin-top: 54px;
}

.footer-center {
    width: 50%;
    float: left;
    text-align: center;
}

.footer-center .google a {
    background-image: url('../ressources/googlegroups@2x.png');
    height: 30px;
    width: 30px;
    background-size: cover;
    text-align: center;
    display: inline-block;
    margin: 10px 10px 10px 0;
}

.footer-center .twitter a {
    background-image: url('../ressources/twitter@2x.png');
    height: 30px;
    width: 30px;
    background-size: cover;
    text-align: center;
    display: inline-block;
    margin: 10px 10px 10px 0;
}

.footer-center .google,
.footer-center .twitter,
.footer-center .google div,
.footer-center .twitter div {
    display: inline-block;
}

.footer-right {
    width: 25%;
    float: right;
    text-align: right;
    margin-top: 54px;
}

.footer-right .view div {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}

.contact-form {
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.7);
    width: 900px;
    overflow: hidden;
    padding: 7px 14px 7px 14px;
}

.contact-form .textfieldview {
    width: 717px;
    overflow: hidden;
    display: block;
    float: left;
    text-align: left;
    padding: 8px 8px 0 0;
}

.contact-form .textfieldview label {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-weight: normal;
    padding:0;
    margin: 0;
}

.contact-form .textfieldview label input {
    display: inline-block;
    width: 50%;
    padding: 0;
    margin: -7px 0 0 0;
    border: none;
    height: 42px;
    line-height: 40px;
    font-size: 18px;
    float: right;
}

.contact-form .buttonview {
    width: 155px;
    float: right;
    display: block;
}

.contact-form .buttonview .button {
    color: #FFFFFF;
    background: #007A9C;
    border-radius: 0;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
}

.scrolldown {
    clear: both;
}


@media (max-width: 820px) {

    .content-header-content{
        padding: 74px 20px 0 20px;
    }

    .contact-form {
        width: 80%;
    }

    .contact-form .textfieldview {
        width: auto;
        float: none;
        text-align: center;
    }

    .contact-form .buttonview {
        width: auto;
        float: none;
        margin-top: 10px;
    }

    .contact-form .textfieldview label input {
        display: block;
        width: 92%;
        margin: 10px auto 0 auto;
    }

    .lefttextrightimage .leftrightview-first {
        width: 100%;
        float: none;
    }

    .lefttextrightimage .leftrightview-second {
        width: 100%;
        float: none;
    }

    .leftimagerighttext .leftrightview-first {
        width: 100%;
        float: none;
    }

    .leftimagerighttext .leftrightview-second {
        width: 100%;
        float: none;
    }
}

/* TWITTER thanks to bchanx from http://www.bchanx.com/logos-in-pure-css-demo */

.logo-twitter-large {
    background-color: #FFFFFF;
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.logo-twitter-large div {
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    background-color: #1DBCE7;
}

.logo-twitter-large div[class*=-none] {
    background-color: #FFFFFF;
}

.logo-twitter-large .body {
    top: 16px;
    left: 15px;
    width: 206px;
    height: 206px;
}

.logo-twitter-large .body-none {
    top: 56px;
    left: -6px;
    width: 150px;
    height: 150px;
}

.logo-twitter-large .wing-top {
    top: 65px;
    left: 68px;
    width: 88px;
    height: 77px;
}

.logo-twitter-large .wing-top-none {
    top: -77px;
    left: 53px;
    width: 200px;
    height: 200px;
}

.logo-twitter-large .wing-middle {
    top: 95px;
    left: 68px;
    width: 88px;
    height: 73px;
}

.logo-twitter-large .wing-middle-none {
    top: -25px;
    left: 20px;
    width: 160px;
    height: 160px;
}

.logo-twitter-large .wing-bottom {
    top: 121px;
    left: 80px;
    width: 70px;
    height: 70px;
}

.logo-twitter-large .wing-bottom-none {
    top: 106px;
    left: 58px;
    width: 60px;
    height: 60px;
}

.logo-twitter-large .beak-bottom {
    width: 100px;
    height: 100px;
    left: 145px;
    top: 21px;
}

.logo-twitter-large .beak-bottom-none {
    width: 115px;
    height: 115px;
    left: 155px;
    top: -14px;
}

.logo-twitter-large .beak-top {
    width: 65px;
    height: 65px;
    left: 170px;
    top: 39px;
}

.logo-twitter-large .beak-top-none {
    width: 115px;
    height: 115px;
    left: 144px;
    top: -25px;
}

.logo-twitter-large .head {
    width: 72px;
    height: 72px;
    left: 148px;
    top: 78px;
}

.logo-twitter-small {
    background-color: #FFFFFF;
    width: 52px;
    height: 52px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.logo-twitter-small div {
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    background-color: #1DBCE7;
}

.logo-twitter-small div[class*=-none] {
    background-color: #FFFFFF;
}

.logo-twitter-small .body {
    top: 2.7733333333333334px;
    left: 2.6px;
    width: 35.70666666666667px;
    height: 35.70666666666667px;
}

.logo-twitter-small .body-none {
    top: 9.706666666666667px;
    left: -1.04px;
    width: 26px;
    height: 26px;
}

.logo-twitter-small .wing-top {
    top: 11.266666666666667px;
    left: 11.786666666666667px;
    width: 15.253333333333334px;
    height: 13.346666666666668px;
}

.logo-twitter-small .wing-top-none {
    top: -13.346666666666668px;
    left: 9.186666666666667px;
    width: 34.66666666666667px;
    height: 34.66666666666667px;
}

.logo-twitter-small .wing-middle {
    top: 16.46666666666667px;
    left: 11.786666666666667px;
    width: 15.253333333333334px;
    height: 12.653333333333334px;
}

.logo-twitter-small .wing-middle-none {
    top: -4.333333333333334px;
    left: 3.466666666666667px;
    width: 27.733333333333334px;
    height: 27.733333333333334px;
}

.logo-twitter-small .wing-bottom {
    top: 20.973333333333333px;
    left: 13.866666666666667px;
    width: 12.133333333333333px;
    height: 12.133333333333333px;
}

.logo-twitter-small .wing-bottom-none {
    top: 18.373333333333335px;
    left: 10.053333333333335px;
    width: 10.4px;
    height: 10.4px;
}

.logo-twitter-small .beak-bottom {
    width: 17.333333333333336px;
    height: 17.333333333333336px;
    left: 25.133333333333333px;
    top: 3.64px;
}

.logo-twitter-small .beak-bottom-none {
    width: 19.933333333333334px;
    height: 19.933333333333334px;
    left: 26.866666666666667px;
    top: -2.4266666666666667px;
}

.logo-twitter-small .beak-top {
    width: 11.266666666666667px;
    height: 11.266666666666667px;
    left: 29.46666666666667px;
    top: 6.76px;
}

.logo-twitter-small .beak-top-none {
    width: 19.933333333333334px;
    height: 19.933333333333334px;
    left: 24.96px;
    top: -4.333333333333334px;
}

.logo-twitter-small .head {
    width: 12.48px;
    height: 12.48px;
    left: 25.653333333333336px;
    top: 13.52px;
}